.stats-child,
.stats-item {
  position: absolute;
  top: 778px;
  left: -1px;
  width: 1280px;
  height: 3548px;
}
.stats-item {
  top: 1662px;
  left: 49px;
  background-color: var(--color-lightpink);
  width: 1176px;
  height: 508px;
}
.tampon-tax {
  position: absolute;
  top: 737px;
  left: -32px;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
  display: inline-block;
  width: 487px;
  height: 61px;
}
.stats-inner {
  position: absolute;
  top: 549px;
  left: 47px;
  background-color: var(--color-lightslategray);
  width: 1192px;
  height: 165px;
}
.group-child5,
.stats-child1 {
  position: absolute;
  top: 231px;
  left: 415px;
  background-color: var(--color-brown-100);
  width: 455px;
  height: 277px;
}
.group-child5 {
  top: 0;
  left: 0;
  background-color: var(--color-brown-200);
  width: 1280px;
  height: 576px;
}
.message1 {
  position: absolute;
  top: 367px;
  left: 548px;
  display: inline-block;
  width: 97px;
  height: 26px;
}
.group-child6 {
  position: absolute;
  top: 432px;
  left: 546.5px;
  border-top: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 690px;
  height: 3px;
}
.subject2 {
  position: absolute;
  top: 259px;
  left: 548px;
  display: inline-block;
  width: 79px;
  height: 26px;
}
.group-child7 {
  position: absolute;
  top: 324px;
  left: 546.5px;
  border-top: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 690px;
  height: 3px;
}
.email1,
.lets-connect1,
.name1 {
  position: absolute;
  top: 39px;
  left: 941px;
  display: inline-block;
  width: 58px;
  height: 23px;
}
.lets-connect1,
.name1 {
  top: 36px;
  left: 548px;
  width: 67px;
  height: 26px;
}
.lets-connect1 {
  top: 123px;
  left: 0;
  font-size: var(--font-size-36xl);
  color: var(--color-antiquewhite);
  text-align: center;
  width: 510px;
  height: 61px;
}
.group-child9 {
  position: absolute;
  top: 101.5px;
  left: 546.5px;
  border-top: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 290.02px;
  height: 3px;
}
.phone1 {
  position: absolute;
  top: 151px;
  left: 548px;
  display: inline-block;
  width: 67px;
  height: 26px;
}
.group-child10 {
  position: absolute;
  top: 216.5px;
  left: 546.5px;
  border-top: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 290.02px;
  height: 3px;
}
.address1 {
  position: absolute;
  top: 151px;
  left: 941px;
  display: inline-block;
  width: 82px;
  height: 26px;
}
.group-child11,
.group-child12 {
  position: absolute;
  top: 216.5px;
  left: 939.5px;
  border-top: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 290.02px;
  height: 3px;
}
.group-child12 {
  top: 101.5px;
}
.group-child13 {
  position: absolute;
  top: 481px;
  left: 548px;
  background-color: var(--color-lightslategray);
  width: 125px;
  height: 46px;
}
.submit1 {
  position: absolute;
  top: 490px;
  left: 575px;
  display: inline-block;
  width: 71px;
  height: 26px;
}
.rectangle-group {
  position: absolute;
  top: 4255px;
  left: 0;
  width: 1280px;
  height: 576px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gainsboro-100);
}
.rectangle-icon,
.stats-child2 {
  position: absolute;
  top: 167px;
  left: -1px;
  width: 418px;
  height: 382px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.stats-child2 {
  left: 872px;
  width: 391px;
}
.in-all-but {
  margin: 0;
}
.in-1994-the-container,
.in-all-but-container {
  position: absolute;
  top: 256px;
  left: 432px;
  color: var(--color-antiquewhite);
  display: inline-block;
  width: 422px;
}
.in-1994-the-container {
  top: 558px;
  left: 52px;
  font-size: var(--font-size-11xl);
  color: var(--color-linen-200);
  width: 1189px;
  height: 394px;
}
.image-4-icon {
  position: absolute;
  top: 714px;
  left: 613px;
  width: 628px;
  height: 460px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.one-specific-aspect {
  position: absolute;
  top: 819px;
  left: 63px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  display: inline-block;
  width: 545px;
  height: 273px;
}
.screenshot-2023-07-21-at-246 {
  position: absolute;
  top: 0;
  left: 38.56px;
  width: 658.95px;
  height: 306px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.group-child14,
.group-child15,
.group-child16,
.group-child17 {
  position: absolute;
  top: 55.33px;
  left: 155.93px;
  background-color: var(--color-lightpink);
  width: 120.72px;
  height: 53.65px;
}
.group-child15,
.group-child16,
.group-child17 {
  top: 15.93px;
  left: 242.29px;
  width: 12.58px;
  height: 13.41px;
}
.group-child16,
.group-child17 {
  left: 335.34px;
  background-color: var(--color-brown-100);
}
.group-child17 {
  left: 421.69px;
  background-color: var(--color-indianred);
}
.group-child18,
.group-child19,
.group-child20 {
  position: absolute;
  top: 55.33px;
  left: 276.66px;
  background-color: var(--color-brown-100);
  width: 267.44px;
  height: 53.65px;
}
.group-child19,
.group-child20 {
  top: 220.49px;
  left: 155.93px;
  background-color: var(--color-lightpink);
  width: 41.92px;
}
.group-child20 {
  left: 197.85px;
  background-color: var(--color-brown-100);
  width: 322.77px;
}
.div,
.div1,
.div2,
.group-child21 {
  position: absolute;
  top: 220.49px;
  left: 520.62px;
  width: 136.65px;
  height: 53.65px;
}
.div,
.div1,
.div2 {
  top: 235.58px;
  left: 0;
  display: inline-block;
  width: 353.79px;
  height: 25.15px;
}
.div1,
.div2 {
  left: 191.14px;
}
.div2 {
  top: 234.74px;
  left: 410.79px;
}
.group-child22 {
  position: absolute;
  top: 55.33px;
  left: 544.09px;
  background-color: var(--color-indianred);
  width: 113.18px;
  height: 53.65px;
}
.div3,
.div4,
.div5 {
  position: absolute;
  top: 69.58px;
  left: 39.4px;
  display: inline-block;
  width: 353.79px;
  height: 25.15px;
}
.div4,
.div5 {
  left: 233.9px;
}
.div5 {
  left: 424.21px;
}
.group-child23,
.group-child24,
.group-child25 {
  position: absolute;
  top: 138.33px;
  left: 155.93px;
  background-color: var(--color-lightpink);
  width: 52.82px;
  height: 53.65px;
}
.group-child24,
.group-child25 {
  left: 208.75px;
  background-color: var(--color-brown-100);
  width: 278.33px;
}
.group-child25 {
  left: 487.09px;
  background-color: var(--color-indianred);
  width: 170.19px;
}
.div6,
.div7,
.div8 {
  position: absolute;
  top: 153.42px;
  left: 5.03px;
  display: inline-block;
  width: 353.79px;
  height: 25.15px;
}
.div7,
.div8 {
  top: 152.58px;
  left: 173.54px;
}
.div8 {
  top: 153.42px;
  left: 395.7px;
}
.screenshot-2023-07-21-at-246-parent {
  position: absolute;
  top: 1196px;
  left: -27px;
  width: 777.99px;
  height: 306px;
  color: var(--color-gainsboro-100);
}
.gender-diff-stats,
.only-11-of {
  color: var(--color-brown-200);
  text-align: left;
  width: 695px;
}
.only-11-of {
  position: absolute;
  top: 1492px;
  left: 49px;
  display: inline-block;
}
.gender-diff-stats {
  top: 1151px;
  left: 43px;
}
.earnings-by-age,
.female-population-living,
.gender-diff-stats {
  position: absolute;
  font-size: var(--font-size-21xl);
  display: inline-block;
}
.earnings-by-age {
  top: 2194px;
  left: 54px;
  color: var(--color-brown-200);
  text-align: left;
  width: 695px;
}
.female-population-living {
  top: 1188px;
  left: 644px;
  text-align: right;
  width: 569px;
}
.black-women-working {
  margin-bottom: 0;
}
.black-women-working-full-time {
  margin: 0;
  padding-left: 35px;
}
.women-in-the-container {
  position: absolute;
  top: 1679px;
  left: 60px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1162px;
  height: 491px;
}
.screenshot-2023-07-21-at-327 {
  position: absolute;
  top: 1245px;
  left: 647px;
  width: 578px;
  height: 353px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.poverty {
  position: absolute;
  top: 1281px;
  left: 647px;
  font-size: var(--font-size-21xl);
  text-align: right;
  display: inline-block;
  width: 569px;
}
.and-girls-will,
.in-2022-compared,
.in-extreme,
.poverty1 {
  position: absolute;
  top: 1623px;
  left: 41px;
  text-align: left;
  display: inline-block;
  width: 1020px;
}
.and-girls-will,
.in-extreme,
.poverty1 {
  top: 1593px;
  left: 1147px;
}
.and-girls-will,
.in-extreme {
  left: 1029px;
}
.and-girls-will {
  left: 810px;
}
.screenshot-2023-07-21-at-404 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1143px;
  height: 595px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.group-child26,
.group-child27 {
  position: absolute;
  top: 282px;
  left: 153px;
  background-color: var(--color-brown-100);
  width: 47px;
  height: 230px;
}
.group-child27 {
  top: 235px;
  left: 212px;
  background-color: var(--color-lightslategray);
  height: 277px;
}
.group-child28,
.group-child29 {
  position: absolute;
  top: 316px;
  left: 539px;
  background-color: var(--color-brown-100);
  width: 47px;
  height: 196px;
}
.group-child29 {
  top: 299px;
  left: 597px;
  background-color: var(--color-lightslategray);
  height: 213px;
}
.group-child30,
.group-child31 {
  position: absolute;
  top: 23px;
  left: 430px;
  background-color: var(--color-brown-100);
  width: 21px;
  height: 21px;
}
.group-child31 {
  left: 559px;
  background-color: var(--color-lightslategray);
  width: 20px;
}
.group-child34,
.group-child35 {
  position: absolute;
  top: 218px;
  left: 732px;
  background-color: var(--color-brown-100);
  width: 47px;
  height: 294px;
}
.group-child35 {
  top: 140px;
  left: 790px;
  background-color: var(--color-lightslategray);
  height: 372px;
}
.group-child36,
.group-child37 {
  position: absolute;
  top: 331px;
  left: 925px;
  background-color: var(--color-brown-100);
  width: 47px;
  height: 181px;
}
.group-child37 {
  top: 307px;
  left: 983px;
  background-color: var(--color-lightslategray);
  height: 205px;
}
.group-child38,
.group-child39 {
  position: absolute;
  top: 278px;
  left: 347px;
  background-color: var(--color-brown-100);
  width: 47px;
  height: 234px;
}
.group-child39 {
  top: 226px;
  left: 406px;
  background-color: var(--color-lightslategray);
  height: 286px;
}
.screenshot-2023-07-21-at-404-parent {
  position: absolute;
  top: 2861px;
  left: 61px;
  width: 1143px;
  height: 595px;
}
.new-projections-of {
  position: absolute;
  top: 1563px;
  left: 46px;
  text-align: left;
  display: inline-block;
  width: 786px;
}
.screenshot-2023-07-21-at-344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1170px;
  height: 645px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.group-child40 {
  position: absolute;
  top: 40px;
  left: 186px;
  background-color: var(--color-lightslategray);
  width: 21px;
  height: 22px;
}
.group-child41,
.group-child42 {
  position: absolute;
  top: 19px;
  left: 320px;
  background-color: var(--color-brown-100);
  width: 21px;
  height: 21px;
}
.group-child42 {
  top: 18px;
  left: 476px;
  background-color: var(--color-gainsboro-100);
  width: 22px;
  height: 22px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child43,
.group-child44,
.group-child45 {
  position: absolute;
  top: 18px;
  left: 589px;
  background-color: var(--color-indianred);
  width: 21px;
  height: 21px;
}
.group-child44,
.group-child45 {
  left: 723px;
  background-color: var(--color-silver);
  width: 22px;
}
.group-child45 {
  left: 858px;
  background-color: var(--color-lightpink);
  width: 21px;
}
.group-child46,
.group-child47 {
  position: absolute;
  top: 380px;
  left: 718px;
  background-color: var(--color-lightslategray);
  width: 39px;
  height: 204px;
}
.group-child47 {
  top: 272px;
  left: 767px;
  background-color: var(--color-brown-100);
  height: 312px;
}
.group-child48,
.group-child49 {
  position: absolute;
  top: 188px;
  left: 816px;
  background-color: var(--color-gainsboro-100);
  width: 40px;
  height: 396px;
}
.group-child49 {
  top: 168px;
  left: 866px;
  background-color: var(--color-indianred);
  height: 416px;
}
.group-child50,
.group-child51 {
  position: absolute;
  top: 180px;
  left: 916px;
  background-color: var(--color-silver);
  width: 40px;
  height: 404px;
}
.group-child51 {
  top: 217px;
  left: 966px;
  background-color: var(--color-lightpink);
  height: 367px;
}
.group-child52,
.group-child53 {
  position: absolute;
  top: 390px;
  left: 224px;
  background-color: var(--color-lightslategray);
  width: 39px;
  height: 194px;
}
.group-child53 {
  top: 305px;
  left: 273px;
  background-color: var(--color-brown-100);
  height: 279px;
}
.group-child54,
.group-child55 {
  position: absolute;
  top: 261px;
  left: 322px;
  background-color: var(--color-gainsboro-100);
  width: 40px;
  height: 323px;
}
.group-child55 {
  top: 263px;
  left: 372px;
  background-color: var(--color-indianred);
  height: 321px;
}
.group-child56,
.group-child57 {
  position: absolute;
  top: 270px;
  left: 422px;
  background-color: var(--color-silver);
  width: 40px;
  height: 314px;
}
.group-child57 {
  top: 288px;
  left: 472px;
  background-color: var(--color-lightpink);
  height: 296px;
}
.line-icon,
.screenshot-2023-07-21-at-344-parent {
  position: absolute;
  top: 2231px;
  left: 49px;
  width: 1170px;
  height: 645px;
}
.line-icon {
  top: 3761.5px;
  left: 25.5px;
  width: 1263px;
  height: 7px;
  object-fit: cover;
}
.screenshot-2023-07-19-at-1005,
.screenshot-2023-07-19-at-10051,
.screenshot-2023-07-19-at-10052 {
  position: absolute;
  top: 3525px;
  left: -12px;
  width: 190px;
  height: 185px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.screenshot-2023-07-19-at-10051,
.screenshot-2023-07-19-at-10052 {
  top: 3516px;
  left: 178px;
  width: 180px;
}
.screenshot-2023-07-19-at-10052 {
  top: 3529px;
  left: 401px;
  width: 166px;
}
.screenshot-2023-07-19-at-10053,
.screenshot-2023-07-19-at-10054 {
  position: absolute;
  top: 3531px;
  left: 575px;
  width: 164px;
  height: 174px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.screenshot-2023-07-19-at-10054 {
  top: 3526px;
  left: 739px;
  width: 186px;
  height: 183px;
}
.screenshot-2023-07-19-at-10055,
.screenshot-2023-07-19-at-1007 {
  position: absolute;
  top: 3534px;
  left: 948px;
  width: 166px;
  height: 156px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.screenshot-2023-07-19-at-10055 {
  left: 1137px;
  width: 154px;
  height: 166px;
}
.group-icon,
.stats-child3 {
  position: absolute;
  top: 3519px;
  left: 567px;
  width: 42px;
  height: 41px;
}
.stats-child3 {
  top: 3649px;
  left: 712px;
}
.screenshot-2023-07-19-at-1013 {
  position: absolute;
  top: 3839px;
  left: 44px;
  width: 363px;
  height: 364px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.stats-child4 {
  position: absolute;
  top: 3839px;
  left: 457px;
  background-color: transparent;
  border: 7px solid var(--color-black);
  box-sizing: border-box;
  width: 239px;
  height: 309px;
}
.drag-and-drop {
  position: absolute;
  top: 3808px;
  left: 34px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  color: #b72b4c;
  width: 439px;
  height: 61px;
}
.image-5-icon {
  position: absolute;
  top: 3785px;
  left: 739px;
  width: 456px;
  height: 435px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.earnings-by-race {
  position: absolute;
  top: 2917px;
  left: 570px;
  font-size: var(--font-size-21xl);
  text-align: right;
  display: inline-block;
  width: 569px;
}
.stats-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brown-100);
  width: 1280px;
  height: 158px;
}
.rose-tinted-glasses,
.transparent-data-fair1 {
  position: absolute;
  top: 38px;
  left: 4px;
  font-size: var(--font-size-13xl);
  color: var(--color-linen-200);
  display: inline-block;
  width: 340px;
  height: 90px;
}
.transparent-data-fair1 {
  top: 83px;
  left: 20px;
  font-size: var(--font-size-xl);
  width: 384px;
  height: 84px;
}
.home2,
.problem2,
.solution1,
.statistics1 {
  position: absolute;
  top: 61px;
  font-size: var(--font-size-mini);
  font-family: var(--font-spartan);
  display: inline-block;
  height: 22px;
}
.home2 {
  left: 873px;
  color: var(--color-black);
  width: 53px;
  cursor: pointer;
}
.problem2,
.solution1,
.statistics1 {
  width: 71px;
}
.problem2 {
  left: 959px;
  color: var(--color-black);
  cursor: pointer;
}
.solution1,
.statistics1 {
  left: 1165px;
  color: var(--color-linen-200);
}
.solution1 {
  left: 1063px;
  color: var(--color-black);
  width: 69px;
  cursor: pointer;
}
.stats {
  position: relative;
  background-color: var(--color-linen-200);
  width: 100%;
  height: 832px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-lightslategray);
  font-family: var(--font-roboto-condensed);
}
